.annotator {
  max-width: 740px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.annotator pre {
  font-size: 1.5rem;
  border-radius: 0.12rem;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
}
